page-account {

	.center{
	text-align:center;
	}

	h3{text-align: center
	}

	p{text-align: center
	}

	.body{
	background-color: #ffffff;
	}

	.topOfCard{
  	text-align: center;
  	font-weight: bold;
  	font-size: 2.0em;
  	width: 100%;
  	text-color: #74B3E6;
  }

  .centerCards {
    text-align: center;
    shadow: 25px 4px 6px rgba(0, 0, 0, 0.8);
    border: 1px #74B3E6;
    border-radius: 20px / 20px;
  }

}
